.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.item {
  width: 300px;
  background-color: #f4f4f4;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.item-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  margin-top: 20px;
}

.item p {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  color: #333;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  padding: 10px 15px;
  background-color: #8f949a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 15px;
}

button:hover {
  background-color: #0056b3;
}

a {
  text-decoration: none;
}
