.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.item {
  width: 300px;
  background-color: #f4f4f4;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.item-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  margin-top: 20px;
}

.item p {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  color: #333;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  padding: 10px 15px;
  background-color: #8f949a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 15px;
}

button:hover {
  background-color: #0056b3;
}

a {
  text-decoration: none;
}

.loading {
  font-size: 118px;
  color: #888;
  text-align: center;
  margin-top: 50px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  border: 2px solid #ccc;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.search-input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.search-input::placeholder {
  color: #888;
  font-style: italic;
}

.search-input:hover {
  border-color: #4caf50;
}
